*{
    margin: 0;
    padding: 0;

}
body{
    overflow-x: hidden;
    background: linear-gradient(to bottom, #FFFFFF, #4EBFE9);
    height: 100vh;
    background-size: cover;
    
}

/* HEADER */
nav{
    border-bottom: 1px solid #8EA3C6;
    display: flex;
}

.logo{
    margin: 1% 2% 1% 2%;
}
.site{
    margin: 2% 2% 1% 0;
}
.site h1{
    color: #2A5EB1;
    font-weight: bold;
    font-size: 32px;
    font-family: "Inter";
}
/* ROW AND COLUMNS SETTINGS */
.row{
    width: 80%;
    margin: 0 1% 0 8%;
}
.col{
    display: flex;
}
/* LEFT SIDE CONTENT */
.left{
    width: 50%;
    float: left;
}
.left p{
    margin-top: 10%;
    color: #2A5EB1;
    font-size: 24px;
    text-align: justify;
}
/* RIGHT SIDE CONTENT */
.right{
    width: 50%;
    float: right;
}
.basis{
    margin: 2% 0 0 20%;
}
.basis img{
    position: absolute;
    height: 230px;
    border-radius: 7px;
}

/* 2ND ROW OF PAGE*/
.forms{
    padding: 1px;
    margin-top: 5%;
}
.fields {
    border-radius: 7px;
    background-color: #4EBFE9;
    display: flex;
    padding-bottom: 2%;
}

/* SUBJECT SIDE */
.fields .subject{
    width: 50%;
    text-align: center;
    float: left;
}
.fields .subject p{
    color: #2A5EB1;
    text-align: center;
    margin-bottom: 5%;
}
.fields .subject input{
    padding-top: 3%;
    margin-bottom: 1%;
    width: 70%;
    border-radius: 10px;
    font-weight: bold;
    background-color: #FDF3F3;
    text-align: center;
}
/* GRADES SIDE */
.fields .grade{
    width: 50%;
    text-align: center;
    float: right;
}
.fields .grade p{
    color: #2A5EB1;
    text-align: center;
    margin-bottom: 5%;
}
.fields .grade input{
    padding-top: 3%;
    margin-bottom: 1%;
    width: 70%;
    border-radius: 10px;
    font-weight: bold;
    background-color: #FDF3F3;
    text-align: center;
}

.fields .btn{
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: .2em;
    color: #FFFFFF;
    padding: 8px 24px;
    border: 1px solid #fff;
    cursor: pointer;
    font-weight: bold;
    margin: 2%;
}
.cal{
    background-color: #588EDF;
}
.res{
    background-color: #F7294E;
}

/* RIGHT SIDE OF THE SECOND ROW */
.result{
    margin: 1% 0 5% 50%;
}
.result h1{
    margin-left: 18%;
    color: #F7294E;
    font-size: 32px;
}
.grade-container{
    background-color: #F7294E;
    width: 200px;
    height: 190px;
    border-radius: 50%;
    margin-top: 5%;
}
.grade-container p{
    text-align: center;
    font-size: 24px;
    padding-top: 15%;
    margin-top: 5%;
    color: #FFFFFF;
}
.grade-container p span{
    text-align: center;
    font-size: 30px;
    padding-top: 0;
    color: #FFFFFF;
}
#GPA {
    text-align: center;
    font-size: 24px;
    margin-top: -10%;
    color: #FFFFFF;
}
.remarks-container{
    background-color: #F7294E;
    width: 400px;
    height: 110px;
    border-radius: 7px;
    margin-left: -34%;
    margin-top: 5%;
}
.remarks-container p{
    padding-top: 20px;
    margin-left: 15%;
    font-weight: bold;
    font-size: 17px;
    color: #FFFFFF;
}
.remarks-container p span{
    margin-left: 5%;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF; 
}
    
